
*{
	box-sizing: border-box;
}

body{
	background-color: black;
	position: relative;
}

/*begin carousel css*/
.carousel .item {
      height: 100vh;
    }
.carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 100vh;
    }

.carousel-caption{
	text-align: right;
	}

.right.carousel-control, .left.carousel-control {
    opacity: 0;
    filter:alpha(opacity=0);
}




.container-fluid{
	margin-left: -15px;
	margin-right: -15px;
}
/*end carousel css*/

div{
	display:block;
}

.img{
	max-width: 110%;
}

/*--nav bar begin--*/
.navbar{
	padding-right: 1em;
	padding-left: 1em;
	}
/*--nav bar end--*?





/*begin parallax image manipulation*/
#current-project{
	background-attachment: fixed;
	background-color: black;
	background-image: url("../img/parallaxDogSeesGod.jpg");
	background-position: center center;
	background-repeat:no-repeat;
	background-size: cover;
	height: 700px;	
	top: 50%;
	}


#director-image{
	background-attachment: fixed;
	background-color: black;
	background-image: url("../img/parallaxCloudTectonics.jpg");
	background-position: center center;
	background-repeat:no-repeat;
	background-size: cover;
	height: 700px;	
	top: 50%;
	}

#teacher-image{
	background-attachment: fixed;
	background-color: black;
	background-image: url("../img/parallaxHouseOfBernardaAlba.jpg");
	background-position: center center;
	background-repeat:no-repeat;
	background-size: cover;
	height: 700px;	
	top: 50%;
	}

#acting-image{
	background-attachment: fixed;
	background-color: black;
	background-image: url("../img/parallaxElectroPuss.jpg");
	background-position: center center;
	background-repeat:no-repeat;
	background-size: cover;
	height: 700px;	
	top: 50%;
	}
/*--parallax end--*/


/*--containers--*/


#acting, #directing, #teaching, #contact, #current {
	margin-bottom: 2em;
	margin-top:2em;
	margin:0 auto;
	width: 94%;
}

/*--gallery --*/
#gallery{
	padding-bottom: 3em;
	margin:0 auto;
	width:94%;
}


/*--contact --*/
#contact{
	background-image: url("../img/carouselVioreDire.jpg");
	background-repeat: no-repeat;
	min-height:100%;
	min-width: 100%;
	
}
.modal-body {
	border: solid black 1px;
	height: 0;
	overflow: auto; 
	-webkit-overflow-scrolling:touch;
	position: relative;
	padding-bottom: 65.25%;
	padding-top: 30px;
} 

.modal-body iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	}
	
.form-control{
	margin: 0 auto;
	width: 100%;
	}

footer{
	bottom:1em;
	}

.resume-button{
	text-align: center;
	}

/*--text--*/

.my-navbar{
	background-color: #424b54;
	border-radius: 0;
	border: 0;
	}

.my-navbar .navbar-brand{
	color: #6699cc;
	font-size: 2em;
	font-family: 'Rock Salt', cursive;
	}

h1{
	color: #6699cc;
	font-size: 4em;
	font-family: 'Rock Salt', cursive;
	text-align: center;
	}

h2{
	color: #6699cc;
	font-size: 3em;
	font-family: 'Rock Salt', cursive;
	text-align: center;
	}

h3{
	color: #6699cc;
	font-family: 'Lora', serif;
	font-size: 1.5em;
	text-align: center;
	}

h4{
	color: #6699cc;
	font-family: 'Rock Salt', cursive;
	font-size: 1.5em;
	text-align: center;
	}

p {
	color: #6699cc;
	font-family: 'Lora', serif;
	font-size: 2em;
	text-align: center;
	}
	


#current p {
	color: #6699cc;
	font-family: 'Lora', cursive;
	font-size: 3em;
	}

#michelleseaton  p {
	color: #6699cc;
	font-family: 'Rock Salt', cursive;
	font-size:0.5em;
	}

#michelleseaton {
	font-size: 2em;
	}

label{
	color: #6699cc;
	font-family: 'Lora', serif;
	font-size: 1em;
	text-align: center;
	}



