
*{
	box-sizing: border-box;
}

body{
	background-color: black;
	position: relative;
}

div{
	display:block;
}

.img{
	max-width: 110%;
}

/*--nav bar--*/
.navbar{
	padding-top: 5px;
	padding-bottom: 5px;
	
}



/* carousel css layout*/
/*.jumbotron {
	min-height: 100vh;
	padding-left: 0px;
	padding-right: 0px;
	margin-left:-15px;
	margin-right: -15px;
	min-width: 100vw;
}*/
.carousel .item {
      height: 100vh;
    }
.carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 100vh;
    }





.carousel-caption{
	text-align: right;
	}



.carousel-control.left .glyphicon {
    left: 0;
    margin-left: 0;
    top: 85%;
    }

.carousel-control.right .glyphicon {
    right: 0;
    margin-right: 0;
    top: 85%;
	}
/*end carousel css layout*/

/*begin parallax image manipulation*/
#current-project{
	background-image: url("../img/parallaxdogseesgod.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat:no-repeat;
	background-color: black;
	
	height: 700px;	
	
	top: 50%;
	}


#director-image{
	background-image: url("../img/parallaxcloudtectonics.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat:no-repeat;
	background-color: black;
	
	height: 700px;	
	
	top: 50%;
	}

#teacher-image{
	background-image: url("../img/parallaxhouseofbernardaalba.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat:no-repeat;
	background-color: black;
	
	height: 700px;	

	top: 50%;
	}

#acting-image{
	background-image: url("../img/parallaxelectropus.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat:no-repeat;
	background-color: black;
	
	height: 700px;	

	top: 50%;
	}





/*--parallax end--*/
/*--containers--*/
#acting, #directing, #teaching, #contact, #current {
	margin-top:2em;
	margin-bottom: 2em;
	vertical-align: center;
}
#gallery{
	margin-top:2em;
	padding-bottom: 3em;
	vertical-align: center;
}


/*--gallery --*/

.resume-button{
	text-align: center;
}
	
	

/*--contact --*/

.modal-body {
	position: relative;
	padding-bottom: 65.25%;
	padding-top: 30px;
	height: 0;
	overflow: auto; 
	-webkit-overflow-scrolling:touch;
	border: solid black 1px;
} 

.modal-body iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.form-control{
	width: 80%;
	position: center;
}


label {
	color:#6699cc;
}

footer{
	bottom:1em;
}

/*--text--*/
.my-navbar{
	background-color: #424b54;
	border-radius: 0;
	border: 0;
}
.my-navbar .navbar-brand{
	color: #6699cc;
	font-size: 2em;
	font-family: 'Rock Salt', cursive;
}


h1{
	color: #6699cc;
	font-size: 5em;
	font-family: 'Kaushan Script', cursive;
	text-align: center;
}

h2{
	color: #6699cc;
	font-size: 4em;
	font-family: 'Rock Salt', cursive;
	text-align: center;
	
}

h3{
	color: #6699cc;
	font-family: 'Lora', serif;
	font-size: 2em;
	text-align: center;
	
}

h4{
	color: #6699cc;
	font-family: 'Rock Salt', cursive;
	font-size: 2em;
	text-align: center;
	
}

p{
	color: white;
	font-family: 'Slabo', serif;
	font-size: 1.5em;
	text-align: left;
}
#directing h2 {
	color: #6699cc;
	font-family: 'Over the Rainbow', cursive;
	font-size: 4em;
}

#teaching h2 {
	color: #6699cc;
	font-family: 'Over the Rainbow', cursive;
	font-size: 4em;
}

#michelleseaton  p {
	color: #6699cc;
	font-family: 'Kaushan Script', cursive;
	font-size:1em;
}

#acting p{
	color: #6699cc;
	font-family: 'Lora', serif;
	font-size: 1.5em;
}
#contact p {
	color: #6699cc;
	font-family: 'Lora', serif;
	font-size: 2em;
	text-align: center;
}

label{
	color: #6699cc;
	font-family: 'Lora', serif;
	font-size: 1em;
	text-align: center;
	
}



