/*--layout--*/

*{
	box-sizing: border-box;
}

body{
	background-color: black;
	position: relative;
}

.container-fluid{
	margin-left: -15px;
	margin-right: -15px;
}

div{
	display:block;
}

.img{
	max-width: 110%;
}

footer{
	padding-bottom:6em;
	}

	/*begin carousel css*/
.carousel .item {
      height: 100vh;
    }
.carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 100vh;
    }

.carousel-caption{
	text-align: right;
	}

.right.carousel-control, .left.carousel-control {
    opacity: 0;
    filter:alpha(opacity=0);
}
	/*end carousel css*/


	/*--nav bar begin--*/
.navbar{
	margin-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	}

.my-navbar{
	background-color: #424b54;
	border-radius: 0;
	border: 0;
	}
	/*--nav bar end--*/


#headshot{
	display:block;
	margin: 0 auto;
	padding-top: 1em;


	
}

#weeping{
	display:block;
	margin: 0 auto;
	padding-top: 1em;
}


	/*begin parallax image manipulation*/
#current-project{
	background-attachment: fixed;
	background-color: black;
	background-image: url("../img/parallaxDogSeesGod.jpg");
	background-position: center center;
	background-repeat:no-repeat;
	background-size: cover;
	height: 700px;	
	top: 50%;
	}


#director-image{
	background-attachment: fixed;
	background-color: black;
	background-image: url("../img/parallaxCloudTectonics.jpg");
	background-position: center center;
	background-repeat:no-repeat;
	background-size: cover;
	height: 700px;	
	top: 50%;
	}

#teacher-image{
	background-attachment: fixed;
	background-color: black;
	background-image: url("../img/parallaxWildeAbandon.jpg");
	background-position: center center;
	background-repeat:no-repeat;
	background-size: cover;
	height: 700px;	
	top: 50%;
	}

#acting-image{
	background-attachment: fixed;
	background-color: black;
	background-image: url("../img/parallaxMichelle.jpg");
	background-position: center center;
	background-repeat:no-repeat;
	background-size: cover;
	height: 700px;	
	top: 50%;
	}
	
#contact-image{
	background-attachment: fixed;
	background-color: black;
	background-image: url("../img/parallaxElectroPuss.jpg");
	background-position: center center;
	background-repeat:no-repeat;
	background-size: cover;
	height: 700px;	
	top: 50%;
	}
	/*--parallax end--*/

/*--review css--*/

#reviews{
        margin: auto 1em;
        background-color: black;
        width:100%;
        border: 3px solid red;
        padding: 1em;
       }
a{
	display: inline-block;
	border: 3px solid purple;
	margin: 0 auto;
}

.links{
	border: 3px solid orange;
	
}

.container{
		height: 3em;
        padding: 0.5em;
        margin: auto;
        width: 100%;
        border: 3px solid green;
    	}
.contactlink{
	width: 50%;
	margin: auto 0;
	text-align: left;
}  

.homelink{
	width: 50%;
	margin: auto 0;
	text-align: right;
}
.block{
        
        display: inline-block;
        width: 12.5em;
        
        margin: 0.5em;
        border: 3px solid white;
    	}
  
/*--close review css--*/

	/*--containers--*/


#acting, #directing, #teaching, #current {
	margin-bottom: 2em;
	margin-top:2em;
	margin:0 auto;
	width: 94%;
}

#gallery, 
#contact{
	padding-bottom: 3em;
	margin:0 auto;
	width:94%;
}


#contact row{
	padding-left: 5em;
}

#contact{
	width: 70%;
}


iframe{
	display: block;
	height: 90%;
	margin: 0 auto;
	padding-top: 2em;
	padding-bottom: 1em;
}

.modal-body {
	border: solid black 1px;
	height: 0;
	overflow: auto; 
	-webkit-overflow-scrolling:touch;
	position: relative;
	padding-bottom: 65.25%;
	padding-top: 30px;
} 

.modal-body iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	}
	
.form-control{
	margin: 0 auto;
	width: 100%;
	}


.resume-button{
	text-align: center;
	}


	/*--containers--*/


/*--typography--*/



h1{
	color: #6699cc;
	font-size: 4em;
	font-family: 'Rock Salt', cursive;
	text-align: center;
	}

h2{
	color: #6699cc;
	font-size: 3em;
	font-family: 'Rock Salt', cursive;
	text-align: center;
	}

h3{
	color: #6699cc;
	font-family: 'Lora', serif;
	font-size: 1.5em;
	text-align: center;
	}

h4{
	color: #6699cc;
	font-family: 'Rock Salt', cursive;
	font-size: 1.5em;
	text-align: center;
	}

p {
	color: #6699cc;
	font-family: 'Lora', serif;
	font-size: 2em;
	text-align: center;
	}
	
h4 p{
	font-size: 1.75em;
}
a{
	color: #6699cc;
}
.my-navbar .navbar-brand{
	color: #6699cc;
	font-size: 2em;
	font-family: 'Rock Salt', cursive;
	}

#current p {
	color: #6699cc;
	font-family: 'Lora', cursive;
	font-size: 3em;
	}

#michelleseaton  p {
	color: #6699cc;
	font-family: 'Rock Salt', cursive;
	font-size:0.5em;
	}

#michelleseaton {
	font-size: 2em;
	}


#reviews {
	font-size: 2em;
	color: #6699cc; 
}
#reviews h2{
	font-size:1em;
	
}
#reviews h4{
	font-size:0.5em;
	
}
#reviews p{
	font-size: .75em;
}



footer{
	color: #6699cc;
	font-size: .5em;
	display: block;
}

label{
	color: #6699cc;
	font-family: 'Lora', serif;
	font-size: 1em;
	text-align: center;
	}

/*--end typography--*/

